div {
    h1 {
        color: red;
    }
}
span {
    h1 {
        color: blue;
        &:hover {
            color: green;
        }
    }
}
.jadoo_container {
    &_header {
        color: yellow;
    }
}