// font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Volkhov', serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(/photo/Image.png),url(/photo/Decore.png),url(/photo/Ellipse.png);
    background-repeat: no-repeat;
    background-position-x: right,right,left;
    background-size: 640px,700px 581px,230px;
    background-position-y: 100px,0px,top;
    background-position-x: 80%, right ,right;
    
}
/* Beginning of Header content stylesheet */
.header_container {
    font-family: 'Open Sans', sans-serif;
    padding: 0px 15%;
    padding-top: 47px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_container {
    .logo {
        cursor: pointer;
    }
    .nav_bar {
        width: 460px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item {
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: #212832;
            cursor: pointer;
        }
    }
    .reg_container {
        width: 279px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &_login a {
            width: 44px;
            height: 22px;
            color: #212832;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
        }
        &_sign a {
            width: 102px;
            height: 40px;
            border: 1px solid #212832;
            border-radius: 5px;
            padding: 9px 22px;
            color: #212832;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
        }
        &_laguage a {
            width: 23px;
            height: 22px;
            color: #212832;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
        }
        &_laguage img {
            width: 9px;
            height: 5px;
        }
    }
}
// <!-- ---- -->

// Section 1 "Hero
.hero_container {
    // @media screen and (max-width: 992px) { 
    //     . { 
    //         flex-direction: column; 
    //     } 
    // }
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 764px;

    &_title {
        font-family: 'Poppins', sans-serif;
        color: #DF6951;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    &_description {
        padding-top: 24px;
        font-family: 'Volkhov', serif;
        color: #181E4B;       
        font-weight: 700;
        font-size: 84px;
        line-height: 89px;
    }
    &_text {
        padding-top: 30px;
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    &_low { 
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &_button {
        cursor: pointer;
        width: 170px;
        height: 60px;
        background-color: #f1a501;
        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
        border-radius: 10px;
        border: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
    }
    &_play {
        padding: 0 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &_play img {
        padding-top: 38px;
    }
    &_play p{
        font-family: 'Poppins', sans-serif;
        color: #686D77;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px;
    }
    
}
// <!-- ---- -->
.services_container {
    padding-top: 105px;
    padding: 0 15%;
    height: 525px;
    &_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_category {    
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
    }
    &_title {      
        padding-top: 10px;
        font-family: 'Volkhov', serif;
        color: #14183E;
        font-weight: 700;
        font-size: 50px;
        line-height: 64px;
    }
    &_categori {
        display: flex;
        justify-content: space-between;
        height: 227px;
        .cards_vector {
            height: 5rem;
        }
        &_cards {
            height: 227px;
            padding-top: 110px;
            text-align: center;
            
            &_title {
                padding-top: 30px;
                height: 27px;
                font-family: 'Open Sans', sans-serif;
                color: #1E1D4C;
                font-size: 20px;
                font-weight: 600;
                line-height: 27px;
            }
            &_desc {
                padding-top: 39px;
                height: 78px;
                font-family: 'Poppins', sans-serif;
                color: #5E6282;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
}
// media queries
@media (max-width: 479px) {
    body {
        background-size: 329px,468px 200px,530px;
        background-position-y: 95px,0px,top;
        background-position-x: 13%, right ,right;
    }
    .nav_bar_item{
      display: none;
    }
    .reg_container a{
        display: none;
    }
    .reg_container_laguage img {
        display: none;
    }
    .hero_container {
        
        &_title {
            padding-top: 15px;
            font-size: 0.875rem;
            text-align: center;
        }
        &_description {
            padding-top: 309px;
            font-size: 2.3rem;
            line-height: 37px;
            text-align: center;
        }
        &_text {
            text-align: center;
            font-size: 0.875rem; 
            line-height: 23px;
        }
        &_button {
            font-size: 0.875rem; 
        }
        &_play p {
            font-size: 0.875rem; 
        }
    }
    .services_container {
        
        &_content h2{
            text-align: center;
            font-size: 0.8rem; 
            line-height: 23px;
        }
        &_categori {
            height: 900px;
            display: flex;
            flex-direction: row;
        }
    }
  } 
  