// font-family: 'Montserrat', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'Volkhov', serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(/photo/Image.png),url(/photo/Decore.png),url(/photo/Ellipse.png);
    background-repeat: no-repeat;
    background-position-x: right,right,left;
    background-size: 640px,700px 581px,230px;
    background-position-y: 55px,0px,top;
    background-position-x: 80%, right ,right;
    
}
/* Beginning of Header content stylesheet */
.header_container {
    font-family: 'Open Sans', sans-serif;
    padding: 0px 15%;
    padding-top: 47px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header_container {
    .logo {
        cursor: pointer;
    }
    .nav_bar {
        width: 460px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_item {
            text-decoration: none;
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: #212832;
            cursor: pointer;
        }
    }
    .reg_container {
        width: 279px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        &_login a {
            width: 44px;
            height: 22px;
            color: #212832;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
        }
        &_sign a {
            width: 102px;
            height: 40px;
            border: 1px solid #212832;
            border-radius: 5px;
            padding: 9px 22px;
            color: #212832;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
        }
        &_laguage a {
            width: 23px;
            height: 22px;
            color: #212832;
            text-decoration: none;
            font-weight: 500;
            font-size: 17px;
        }
        &_laguage img {
            width: 9px;
            height: 5px;
        }
    }
}
.hero_container {
    padding: 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1201px;
    height: 764px;

    &_title {
        font-family: 'Poppins', sans-serif;
        color: #DF6951;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    &_description {
        font-family: 'Volkhov', serif;
        color: #181E4B;       
        font-weight: 700;
        font-size: 84px;
        line-height: 89px;
    }
    &_text {
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }
    &_button {
        cursor: pointer;
        width: 170px;
        height: 60px;
        background-color: #f1a501;
        box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
        border-radius: 10px;
        border: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        font-family: 'Open Sans', sans-serif;
        color: #FFFFFF;
    }
    &_play {
        color: #01996D;
    }
    
}