* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(/photo/Image.png), url(/photo/Decore.png), url(/photo/Ellipse.png);
  background-repeat: no-repeat;
  background-position-x: right,right,left;
  background-size: 640px,700px 581px,230px;
  background-position-y: 100px,0px,top;
  background-position-x: 80%, right ,right; }

/* Beginning of Header content stylesheet */
.header_container {
  font-family: 'Open Sans', sans-serif;
  padding: 0px 15%;
  padding-top: 47px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.header_container .logo {
  cursor: pointer; }

.header_container .nav_bar {
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .header_container .nav_bar_item {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212832;
    cursor: pointer; }

.header_container .reg_container {
  width: 279px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; }
  .header_container .reg_container_login a {
    width: 44px;
    height: 22px;
    color: #212832;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px; }
  .header_container .reg_container_sign a {
    width: 102px;
    height: 40px;
    border: 1px solid #212832;
    border-radius: 5px;
    padding: 9px 22px;
    color: #212832;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px; }
  .header_container .reg_container_laguage a {
    width: 23px;
    height: 22px;
    color: #212832;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px; }
  .header_container .reg_container_laguage img {
    width: 9px;
    height: 5px; }

/* Beginning of Section 1 "Hero" content stylesheet */
.hero_container {
  padding: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 764px; }
  .hero_container_title {
    font-family: 'Poppins', sans-serif;
    color: #DF6951;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px; }
  .hero_container_description {
    padding-top: 24px;
    font-family: 'Volkhov', serif;
    color: #181E4B;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px; }
  .hero_container_text {
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px; }
  .hero_container_low {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .hero_container_button {
    cursor: pointer;
    width: 170px;
    height: 60px;
    background-color: #f1a501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF; }
  .hero_container_play {
    padding: 0 2%;
    display: flex;
    flex-direction: row;
    align-items: center; }
  .hero_container_play img {
    padding-top: 38px; }
  .hero_container_play p {
    font-family: 'Poppins', sans-serif;
    color: #686D77;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px; }

/* Beginning of Section 2 "Services" content stylesheet */
.services_container {
  padding-top: 105px;
  padding: 0 15%;
  height: 525px; }
  .services_container_content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .services_container_category {
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; }
  .services_container_title {
    padding-top: 10px;
    font-family: 'Volkhov', serif;
    color: #14183E;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px; }
  .services_container_categori {
    display: flex;
    justify-content: space-between;
    height: 227px; }
    .services_container_categori .cards_vector {
      height: 5rem; }
    .services_container_categori_cards {
      height: 227px;
      padding-top: 110px;
      text-align: center; }
      .services_container_categori_cards_title {
        padding-top: 30px;
        height: 27px;
        font-family: 'Open Sans', sans-serif;
        color: #1E1D4C;
        font-size: 20px;
        font-weight: 600;
        line-height: 27px; }
      .services_container_categori_cards_desc {
        padding-top: 39px;
        height: 78px;
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px; }

/* Ending of of Section 2 "Services" content stylesheet */
/* Beginning of Section 3 "Destinations" content stylesheet */
.destination_container {
  padding: 0 15%;
  padding-top: 123px;
  height: 617px; }
  .destination_container_content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .destination_container_selling {
    padding-top: 123px;
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px; }
  .destination_container_title {
    padding-top: 8px;
    font-family: 'Volkhov', serif;
    color: #181E4B;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px; }
  .destination_container_categori {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .destination_container_categori_cards {
      height: 457px;
      border-radius: 1.5rem;
      box-shadow: 0 15px 20px -1px rgba(0, 0, 0, 0.15); }
    .destination_container_categori_name_and_price {
      padding: 27px 8%;
      display: flex;
      justify-content: space-between; }
      .destination_container_categori_name_and_price .country {
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 500;
        font-size: 18px;
        line-height: 125%; }
      .destination_container_categori_name_and_price .price {
        height: 22px;
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 500;
        font-size: 18px;
        line-height: 125%; }
    .destination_container_categori_trip_duration {
      padding: 0px 8%;
      display: flex; }
      .destination_container_categori_trip_duration .days {
        height: 20px;
        font-family: 'Poppins', sans-serif;
        color: #5E6282;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%; }

/* Ending of of Section 3 Destinations" content stylesheet */
@media (max-width: 479px) {
  body {
    background-size: 329px,468px 200px,530px;
    background-position-y: 95px,0px,top;
    background-position-x: 13%, right ,right; }
  .nav_bar_item {
    display: none; }
  .reg_container a {
    display: none; }
  .reg_container_laguage img {
    display: none; }
  .hero_container_title {
    padding-top: 15px;
    font-size: 0.875rem;
    text-align: center; }
  .hero_container_description {
    padding-top: 309px;
    font-size: 2.3rem;
    line-height: 37px;
    text-align: center; }
  .hero_container_text {
    text-align: center;
    font-size: 0.875rem;
    line-height: 23px; }
  .hero_container_button {
    font-size: 0.8rem; }
  .hero_container_play p {
    font-size: 0.8rem; }
  .services_container_content h2, .services_container h3 {
    text-align: center;
    font-size: 0.8rem;
    line-height: 15px; }
  .services_container_categori {
    display: flex;
    flex-direction: column; }
  .services_container_cards img, .services_container h4, .services_container p {
    padding-top: 2px;
    font-size: 1.2rem;
    line-height: 25px; }
  .services_container .cards_vector {
    height: 6rem; } }
